<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.administrator.testservice">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!--配置一个Service组件 -->
        <service android:name=".FirstService"></service>>
    </application>

</manifest>
